.histoire{
    background-color: var(--color-bg-secondary);
}
.franchisage{
    background-color: var(--color-bg-tertiary);
    color: var(--color-white);
    h2{
        color: var(--color-white);
    }
}
.fondation{
    background-color: var(--color-bg-quaternary);
    color: var(--color-white);
    h2, h3, a{
        color: var(--color-white);
    }
}