.infoCarteCadeau {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'pratique perso'
        'delicieux donner';
}
.subTittle {
    background-color: var(--color-bg-secondary);
}
.pratique {
    grid-area: pratique;
    color: var(--color-white);
    background-color: var(--color-bg-tertiary);
    h2 {
        color: var(--color-white);
    }
}
.perso {
    grid-area: perso;
    color: var(--color-white);
    background-color: var(--color-bg-quaternary);
    h2 {
        color: var(--color-white);
    }
}
.delicieux {
    grid-area: delicieux;
    background-color: var(--color-bg-secondary);
}
.donner{
    grid-area: donner;
}
.infoCarteCadeau__rdv {
    background-color: var(--color-bg-secondary);
}
