.section__carte {
    display: flex;
    justify-content: space-between;
    &:nth-child(1) {
        background-image: linear-gradient(
            to right,
            var(--color-bg-tertiary),
            var(--color-bg-tertiary) 50%,
            var(--color-bg-quaternary) 50%
        );
    }

    &:nth-child(2) {
        background-image: linear-gradient(
            to right,
            var(--color-bg-secondary),
            var(--color-bg-secondary) 50%,
            var(--color-bg-primary) 50%
        );
    }
    .infoCarteCadeau__carte {
        width: 50%;
    }

    .pratique {
        color: var(--color-white);
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        text-align: justify;
        h2 {
            color: var(--color-white);
        }
    }
    .perso {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        color: var(--color-white);
        text-align: justify;
        h2 {
            color: var(--color-white);
        }
    }
    .delicieux {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        text-align: justify;
    }

    .donner {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        text-align: justify;
    }
}
.section__rdv {
    background-color: var(--color-bg-secondary);
    .infoCarteCadeau__rdv {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: justify;
    }
}
.introductionCarte {
    h2 {
        padding-top: 50px;
    }
    p {
        padding-bottom: 50px;
    }
}

.subTittle {
    position: relative;
    .subTitle{
        padding-top: 50px;
    }
    ul{
        padding-bottom: 50px;
    }
    img{
        position: absolute;
        top: 35%;
        right: 4%;
        width: 30%;
    }
}
.hero{
    h1{
        padding-bottom: var(--spacing-md);
        padding-top: var(--spacing-md);
    }
}