.ecrire {
    color: var(--color-white);
    background-color: var(--color-bg-tertiary);
    h3 {
        color: var(--color-white);
    }
}
.internet {
    color: var(--color-white);
    background-color: var(--color-bg-quaternary);
    h3 {
        color: var(--color-white);
    }
}
.formulaire {
    background-color: var(--color-bg-secondary);
}