.infoCarte{
    background-color: var(--color-bg-tertiary);
    color: var(--color-white);
    h3{
        color: var(--color-white);
    }
}
.questionCarte{
    background-color: var(--color-bg-quaternary);
    color: var(--color-white);
    h2, h3{
        color: var(--color-white);
    }
}
.problemesCarte{
    background-color: var(--color-bg-secondary);
}