.infoCarte {
    background-color: var(--color-bg-tertiary);
    color: var(--color-white);
    padding-bottom: 50px;
    h3 {
        color: var(--color-white);
        &:nth-child(1) {
            padding-top: 50px;
        }
        &:nth-child(3) {
            padding-top: 25px;
        }
        &:nth-child(5) {
            padding-top: 25px;
        }
    }
    p {
        text-align: justify;
        &:nth-last-child(1) {
            padding-bottom: 50px;
        }
    }
}
.questionCarte {
    background-color: var(--color-bg-quaternary);
    color: var(--color-white);
    h2,
    h3 {
        color: var(--color-white);
    }
    h2 {
        padding-top: 50px;
    }
    p {
        &:nth-last-child(1) {
            padding-bottom: 50px;
        }
    }
    h3 {
        padding-top: 25px;
    }
}
.problemesCarte {
    background-color: var(--color-bg-secondary);
    text-align: justify;
    h2 {
        padding-top: 50px;
    }
    p {
        padding-top: 5px;
        &:nth-last-child(1) {
            padding-bottom: 50px;
        }
    }
}
.conditionsCarte {
    h3 {
        padding-top: 50px;
    }
    p {
        padding-bottom: 50px;
    }
}
.introductionFidelite {
    p {
        padding: 50px 0;
        text-align: justify;
    }
}
.categorie-fidelite {
    background-color: var(--color-bg-secondary);
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding-top: 50px;
        margin: 0;
        div {
            display: flex;
            align-items: center;

            li {
                list-style-type: none;
                margin: 0 var(--spacing-xs);
                text-transform: uppercase;
                font-weight: var(--fw-semibold);
                div {
                    background-color: var(--color-black);
                    width: 10px;
                    height: 2px;
                }
            }
        }
    }
}
.tiretMobile {
    display: none;
}
@media screen and (max-width: $breakpoint-lg) {
    .categorie-fidelite {
        li {
            font-size: var(--font-size-button);
        }
    }
}
@media screen and (max-width: $breakpoint-sm) {
    .categorie-fidelite {
        text-align: center;
        ul {
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 0;
        }
        .section1 {
            display: flex;
            flex-direction: column;
        }
        .section2 {
            display: flex;
            flex-direction: column;
        }
    }
    .section1 {
        div {
            &:nth-child(2) {
                display: none;
            }
        }
    }
    .tiretMobile {
        display: block;
    }
}
