footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;

    @media screen and (max-width: $breakpoint-xs) {
        margin-bottom: 7%;
    }

    .socials {
        width: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .groupeicone {
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $breakpoint-xs) {
                flex-direction: column;
            }

            &:nth-child(2) {
                margin-top: 10%;
            }

            .icones {
                background-color: var(--color-bg-secondary);
                width: 40px;
                height: 40px;

                border-radius: 100%;
                position: relative;
                margin-left: 40%;

                @media screen and (max-width: $breakpoint-xs) {
                    margin-top: var(--spacing-sm);
                }
            }
            svg {
                position: absolute;
                top: 25%;
                left: 25%;

                @media screen and (max-width: $breakpoint-xs) {
                    top: 30%;
                    left: 30%;
                }
            }

            width: 25%;
        }
    }
    nav {
        display: flex;
        flex-direction: column;

        width: 88%;

        @media screen and (max-width: $breakpoint-md) {
            padding-left: var(--spacing-sm);
        }

        @media screen and (max-width: $breakpoint-xs) {
            width: 75%;
        }
        ul {
            padding: 0;
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-between;

            margin: 0;

            text-transform: uppercase;

            @media screen and (max-width: $breakpoint-md) {
                font-size: var(--font-size-button);
            }

            @media screen and (max-width: $breakpoint-xs) {
                flex-direction: column;

                font-size: var(--font-size-content-responsive);
            }
        }

        .copyright {
            font-size: var(--font-size-button);

            @media screen and (max-width: $breakpoint-md) {
                font-size: var(--font-size-button-responsive);
            }

            @media screen and (max-width: $breakpoint-xs) {
                display: none;
            }
        }
    }
}
.copyright--mobile {
    display: none;

    @media screen and (max-width: $breakpoint-xs) {
        display: block;
        font-size: var(--font-size-button);
    }
}
