footer {
    display: flex;
    .socials {
        display: flex;
        flex-wrap: wrap;
        svg {
            background-color: var(--color-secondary);
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-between;
        }
    }
}
