.hero{
    .swiper-container{
        width:100%;
    }
    .swiper-pagination{
        position:static;
        text-align: left;
    }
    .swiper-pagination-bullet{
        opacity:1;
        background: var( --color-black);
    }
    .swiper-pagination-bullet-active{
        background: var( --color-bg-tertiary);
    }

    h1, .swiper-pagination{
        padding:var(--spacing-md) var(--spacing-lg);
    }

    h1{
        padding-top:0;
    }
}