body {
    .menu_principal {
        padding-left: 74px;
        width: 20%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        background-color: var(--color-bg-quinary);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        text-transform: uppercase;

        ul {
            list-style-type: none;
            padding: 0;

            &:nth-child(2) {
                li {
                    font-weight: var(--fw-semibold);
                }
            }
        }

        p {
            font-weight: var(--fw-semibold);
            text-transform: uppercase;
        }

        .langue {
            cursor: pointer;
            margin-bottom: var(--spacing-md);
        }

        .coordonnerU {
            font-weight: var(--fw-regular);
        }
        button {
            cursor: pointer;
            border: none;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: var(--font-size-button);

            padding: 5% 15%;
            margin-top: var(--spacing-sm);

            p {
                padding: 0 10%;
            }
            svg:nth-child(3) {
                transform: rotate(90deg);
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
