.page-contenu {
    padding: 0 !important;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
        margin: 0;
        padding: var(--spacing-md);
    }

    .has-large-font-size {
        color: var(--color-white);
    }

    h2 + p,
    h2 + ul,
    h2 {
        background-color: var(--color-bg-quaternary);
        color: var(--color-white);
    }

    h3 + p,
    h3 + ul,
    h3 {
        background-color: var(--color-bg-tertiary);
        color: var(--color-white);
    }

    h4 + p,
    h4 + ul,
    h4 {
        background-color: var(--color-bg-secondary);
        color: var(--color-white);
    }

    h5 + p,
    h5 + ul,
    h5 {
        background-color: var(--color-bg-primary);
        color: var(--color-white);
    }

    h6 + p,
    h6 + ul,
    h6 {
        background-color: var(--color-bg-quaternary);
        color: var(--color-white);
    }

    ul {
        li {
            font-weight: var(--fw-semibold);
            list-style-type: '-';
        }
    }

    .wp-block-cover__inner-container {
        background-color: rgba($color: black, $alpha: 0.6);
        p {
            color: var(--color-white) !important;
        }
    }

    .is-type-video {
        iframe {
            background-color: inherit;
            margin: auto;
            width: 100%;
            height: 70vh;
        }
    }
}
