/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    margin-left: auto;
    width: 80%;

    @media screen and (max-width: $breakpoint-md) {
        width: 100%;
    }

    section:not(.hero),
    footer {
        padding: 0 var(--spacing-lg);
    }
}

// Utilisation du css Layout Grid pour faire le wrapper
.grid-wrapper {
    display: grid;
    grid-template-columns: auto minmax($breakpoint-xs, $breakpoint-md) auto;
    grid-column-gap: 30px;
}

.grid-center {
    grid-column: 2/3;
}
