/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #001011;

    // Couleurs du projet
    --color-bg-primary: #fff;
    --color-bg-secondary: #e8f1f2;
    --color-bg-tertiary: #fe5f55;
    --color-bg-quaternary: #00994d;
    --color-bg-quinary: #fed141;

    --color-fail: #fe5f55;
}
