/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #001011;

    // Couleurs du projet
    --color-bg-primary: #fff;
    --color-bg-secondary: #E8F1F2;
    --color-bg-tertiary: #FE5F55;
    --color-bg-quaternary: #00994D;
    --color-bg-quinary: #FED141;
}
